.e-book{
    width: 100%;
    background-color: rgba(211, 211, 211, 0.26);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 1.6em 0;
    h1{
        font-size: 1.8rem;
        margin-bottom: 0.4em;
        width: 70%;
    }
    p{
        width: 90%;
        font-weight: 300;
        color: $black;
        margin-bottom: 1.8em;
        line-height: 30px;
    }

    .book{
        height: 70%;
        max-height: 250px;
        margin-bottom: 1.2em;
        position: relative;
        left: 12px;
        @include min-width(800px){
            max-height: 300px;
        }

        @include min-width(1000px){
            max-height: 225px;
            left: 10px
        }

        @include min-width(1220px){
            max-height: 275px;
        }
    }

    span{
        font-weight: 700;
    }
    button{
        border: 2px solid $golden;
        border-radius: 3px;
        outline: none;
        padding: 0.5em 2.2em;
        font-size: 1rem;
        font-family: $beVietnam;
        font-weight: 500;
        color: white;
        background-color: $golden;
        cursor: pointer;
        transition: all 200ms ease-in-out;
    }

    button:hover{
        background-color: transparent;
        color: $golden;
    }
}

// 1000 1200
// @media screen and(min-width:1000px) and (max-width:1220px){
//     .book{
//         max-height: 250px;
//     }
// }