.e-book{
    width: 100%;
    background-color: rgba(211, 211, 211, 0.26);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 1.6em 0;

    h1{
        font-size: 1.8rem;
        margin-bottom: 0.4em;
        width: 70%;
    }
    p{
        width: 90%;
        font-weight: 300;
        color: $black;
        margin-bottom: 1.8em;
        line-height: 30px;
    }
    span{
        font-weight: 700;
    }
    button{
        border: 2px solid $golden;
        border-radius: 3px;
        outline: none;
        padding: 0.5em 2.2em;
        font-size: 1rem;
        font-family: $beVietnam;
        font-weight: 500;
        color: white;
        background-color: $golden;
        cursor: pointer;
        transition: all 200ms ease-in-out;
    }

    button:hover{
        background-color: transparent;
        color: $golden;
    }
}