
.nav{
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
    width: 100%;
    margin: 0 auto;
    .logo{
        img{
            height: 37px;
            @include min-width(810px){
                height: 40px;
            }
        }
    }
    .burger{
        height: auto;
        width: 1.8em;
        cursor: pointer;
        @include min-width(810px){
            display: none;
        }
        div{
            width: 100%;
            height: 0.25em;
            background-color: $golden;
            border-radius: 10px;
        }
        div:not(:last-child){
            margin-bottom: 4px;
        }
    }
    }

.nav-links{
    // border: 2px solid black;
    
    justify-content: space-between;
    width: 45%;
    display: none;
    @include min-width(810px){
        display: flex;
    }
    a{
        color: $golden;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 1.3px;
    }

        
    
}


