*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Be Vietnam", sans-serif;
}

.content {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  width: 100%;
  margin: 0 auto;
}

.nav .logo img {
  height: 37px;
}

@media screen and (min-width: 810px) {
  .nav .logo img {
    height: 40px;
  }
}

.nav .nav-links {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
  display: none;
}

@media screen and (min-width: 810px) {
  .nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1100px) {
  .nav .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 970px) {
  .nav .nav-links {
    width: 60%;
  }
}

.nav .nav-links a {
  color: #daa44e;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.3px;
  position: relative;
  overflow: hidden;
}

.nav .nav-links a::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2.5px;
  background: #daa44e;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  border-radius: 20px;
}

.nav .nav-links a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav .burger {
  height: auto;
  width: 32px;
  cursor: pointer;
  position: relative;
  z-index: 75;
}

@media screen and (min-width: 810px) {
  .nav .burger {
    display: none;
  }
}

.nav .burger div {
  width: 100%;
  height: 4px;
  background-color: #daa44e;
  border-radius: 10px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.nav .burger div:not(:last-child) {
  margin-bottom: 4px;
}

.open .line1 {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.open .line2 {
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.open .line3 {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.burger-links {
  position: absolute;
  width: 80%;
  top: 185px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 10px;
  left: 0;
  height: auto;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: top;
          transform-origin: top;
  background-color: #daa44e;
  opacity: 0;
  padding: 1.6rem;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  pointer-events: none;
}

@media screen and (min-width: 810px) {
  .burger-links {
    display: none;
  }
}

.burger-links a {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  position: relative;
  padding-bottom: 0.4em;
}

@media screen and (min-width: 500px) {
  .burger-links a {
    font-size: 1.4rem;
  }
}

.burger-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 210ms ease-in-out;
  transition: -webkit-transform 210ms ease-in-out;
  transition: transform 210ms ease-in-out;
  transition: transform 210ms ease-in-out, -webkit-transform 210ms ease-in-out;
  border-radius: 10px;
}

.burger-links a:first-child {
  padding-top: 0.4em;
}

.burger-links a:not(:last-child) {
  margin-bottom: 0.6em;
}

.burger-links a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.burger-links.burger-on {
  opacity: 1;
  pointer-events: all;
}

.burger-mobile-overlay {
  pointer-events: none;
  z-index: 50;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), color-stop(100%, #595959), to(black));
  background: linear-gradient(180deg, #cbcbcb 0%, #595959 100%, black 100%);
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.burger-mobile-overlay.active {
  pointer-events: all;
  opacity: 0.5;
}

.navigator {
  width: 100%;
  height: 125px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 19, 40, 0.4)), to(rgba(0, 19, 40, 0.4))), url(../../../img/blog-navigator.jpg) no-repeat center center/cover;
  background: linear-gradient(0deg, rgba(0, 19, 40, 0.4), rgba(0, 19, 40, 0.4)), url(../../../img/blog-navigator.jpg) no-repeat center center/cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 550px) {
  .navigator {
    height: 250px;
  }
}

.navigator div {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  color: whitesmoke;
}

.navigator div h3 {
  font-weight: 700;
  font-size: 3rem;
}

@media screen and (min-width: 800px) {
  .navigator div h3 {
    font-size: 3.5rem;
  }
}

.navigator div a {
  color: #b3b3b3;
  cursor: pointer;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.navigator div a:hover {
  color: #daa44e;
}

.navigator div span {
  font-weight: 500;
}
/*# sourceMappingURL=about.css.map */