*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Be Vietnam", sans-serif;
}

.content {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

footer {
  background-color: #2d3033;
  padding: 3em 0;
}

footer .footer-content {
  display: flex;
  flex-direction: column;
}

footer .footer-content .footer-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

@media screen and (min-width: 800px) {
  footer .footer-content .footer-links {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 1em auto;
  }
}

footer .footer-content .footer-links div {
  display: flex;
  flex-direction: column;
}

footer .footer-content .footer-links div h3 {
  font-weight: 500;
  font-size: 1.4rem;
  color: #7a7e82;
}

footer .footer-content .footer-links div h3:not(:last-child) {
  margin-bottom: 0.6em;
}

footer .footer-content .footer-links div a {
  font-size: 1rem;
  width: 150px;
  cursor: pointer;
  color: #a0a3a5;
  position: relative;
  transition: color 200ms ease-in-out;
}

footer .footer-content .footer-links div a:not(:last-child) {
  margin-bottom: 0.8em;
}

footer .footer-content .footer-links div a:hover {
  color: #daa44e;
}

footer .footer-content .footer-links div a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  border-radius: 10px;
  left: 0;
  width: 90%;
  height: 2px;
  background-color: #daa44e;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in-out;
}

footer .footer-content .footer-links div a:hover::after {
  transform: scaleX(1);
}

footer .footer-content .footer-links div:not(:last-child) {
  margin-bottom: 2em;
}

footer .footer-content .footer-copyright {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer .footer-content .footer-copyright .copyright-text h3 {
  color: #7a7e82;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
}

footer .footer-content .footer-copyright .social-logos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 275px;
}

footer .footer-content .footer-copyright .social-logos img {
  width: 20px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

footer .footer-content .footer-copyright .social-logos img:hover {
  transform: scale(1.4);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100%;
  margin: 0 auto;
}

.nav .logo img {
  height: 37px;
}

@media screen and (min-width: 810px) {
  .nav .logo img {
    height: 40px;
  }
}

.nav .nav-links {
  justify-content: space-between;
  width: 45%;
  display: none;
}

@media screen and (min-width: 810px) {
  .nav .nav-links {
    display: flex;
  }
}

@media screen and (max-width: 1100px) {
  .nav .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 970px) {
  .nav .nav-links {
    width: 60%;
  }
}

.nav .nav-links a {
  color: #daa44e;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.3px;
  position: relative;
  overflow: hidden;
}

.nav .nav-links a::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2.5px;
  background: #daa44e;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in-out;
  border-radius: 20px;
}

.nav .nav-links a:hover::after {
  transform: scaleX(1);
}

.nav .burger {
  height: auto;
  width: 32px;
  cursor: pointer;
  position: relative;
  z-index: 75;
}

@media screen and (min-width: 810px) {
  .nav .burger {
    display: none;
  }
}

.nav .burger div {
  width: 100%;
  height: 4px;
  background-color: #daa44e;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.nav .burger div:not(:last-child) {
  margin-bottom: 4px;
}

.open .line1 {
  transform: translateY(8px) rotate(45deg);
}

.open .line2 {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.open .line3 {
  transform: translateY(-8px) rotate(-45deg);
}

.burger-links {
  position: absolute;
  width: 80%;
  top: 185px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 10px;
  left: 0;
  height: auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: top;
  background-color: #daa44e;
  opacity: 0;
  padding: 1.6rem;
  transition: opacity 500ms ease-in-out;
  pointer-events: none;
}

@media screen and (min-width: 810px) {
  .burger-links {
    display: none;
  }
}

.burger-links a {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  position: relative;
  padding-bottom: 0.4em;
}

@media screen and (min-width: 500px) {
  .burger-links a {
    font-size: 1.4rem;
  }
}

.burger-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 210ms ease-in-out;
  border-radius: 10px;
}

.burger-links a:first-child {
  padding-top: 0.4em;
}

.burger-links a:not(:last-child) {
  margin-bottom: 0.6em;
}

.burger-links a:hover::after {
  transform: scaleX(1);
}

.burger-links.burger-on {
  opacity: 1;
  pointer-events: all;
}

.burger-mobile-overlay {
  pointer-events: none;
  z-index: 50;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #cbcbcb 0%, #595959 100%, black 100%);
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.burger-mobile-overlay.active {
  pointer-events: all;
  opacity: 0.5;
}

.newsletter {
  height: 400px;
  background-color: #daa44e;
}

@media screen and (min-width: 700px) {
  .newsletter {
    height: 375px;
  }
}

.newsletter .newsletter-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter .newsletter-container .newsletter-content {
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.newsletter .newsletter-container .newsletter-content h1 {
  font-size: 2rem;
  text-align: center;
  color: black;
  line-height: 1.4em;
  margin-bottom: 0.6em;
}

@media screen and (min-width: 700px) {
  .newsletter .newsletter-container .newsletter-content h1 {
    font-size: 2.2rem;
  }
}

.newsletter .newsletter-container .newsletter-content p {
  text-align: center;
  color: whitesmoke;
  line-height: 1.8em;
  margin-bottom: 1.4em;
}

@media screen and (min-width: 700px) {
  .newsletter .newsletter-container .newsletter-content p {
    font-size: 1.1rem;
  }
}

.newsletter .newsletter-container .newsletter-content form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.newsletter .newsletter-container .newsletter-content input[type="text"] {
  flex-grow: 2;
  width: 70%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #f1f1f1;
  border-radius: 5px 0 0 5px;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0 0.6em;
  color: rgba(0, 0, 0, 0.7);
}

.newsletter .newsletter-container .newsletter-content input[type="submit"] {
  border: 2px solid black;
  outline: none;
  padding: 1em 1.5em;
  font-size: 1rem;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  background-color: black;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.newsletter .newsletter-container .newsletter-content input[type="submit"]:hover {
  opacity: 0.5;
}

.newsletter .newsletter-container .newsletter-content h3 {
  position: absolute;
  color: red;
  font-size: 0.8rem;
  font-weight: 300;
  bottom: -21px;
  left: 0;
}

.hidden {
  display: none;
}

.e-book {
  width: 100%;
  background-color: rgba(211, 211, 211, 0.26);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 1.6em 0;
}

.e-book h1 {
  font-size: 1.8rem;
  margin-bottom: 0.4em;
  width: 70%;
}

.e-book p {
  width: 90%;
  font-weight: 300;
  color: #2c2c2c;
  margin-bottom: 1.8em;
  line-height: 30px;
}

.e-book span {
  font-weight: 700;
}

.e-book button {
  border: 2px solid #daa44e;
  border-radius: 3px;
  outline: none;
  padding: 0.5em 2.2em;
  font-size: 1rem;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  color: white;
  background-color: #daa44e;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.e-book button:hover {
  background-color: transparent;
  color: #daa44e;
}

.jumbotron-cover {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 19, 40, 0.7), rgba(0, 19, 40, 0.7)), url(../../../img/jumbotron.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.jumbotron-cover .text {
  width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.jumbotron-cover .text h1:first-child {
  font-family: "Sacramento", cursive;
  font-weight: 400;
}

@media screen and (min-width: 500px) {
  .jumbotron-cover .text h1:first-child {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 800px) {
  .jumbotron-cover .text h1:first-child {
    font-size: 3.8rem;
  }
}

.jumbotron-cover .text h1:not(:first-child) {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 2.5px;
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 500px) {
  .jumbotron-cover .text h1:not(:first-child) {
    font-size: 3.7rem;
  }
}

@media screen and (min-width: 800px) {
  .jumbotron-cover .text h1:not(:first-child) {
    font-size: 5.8rem;
    margin-bottom: 0.3em;
  }
}

.jumbotron-cover .text .btn button {
  border: 2px solid #daa44e;
  border-radius: 3px;
  outline: none;
  padding: 0.5em 2em;
  font-size: 1.3rem;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  color: #daa44e;
  background-color: transparent;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.jumbotron-cover .text .btn button:hover {
  background-color: #daa44e;
  color: white;
}

.chefs-choice {
  border: 2px solid magenta;
  display: flex;
  flex-direction: column;
}

.chefs-choice h1 {
  margin: 0.4em 0;
  font-size: 4rem;
  color: #daa44e;
}

.chefs-choice .course-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .chefs-choice .course-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.chefs-choice .course-container .course {
  position: relative;
  margin-bottom: 2.89em;
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .chefs-choice .course-container .course {
    width: 30%;
  }
}

.chefs-choice .course-container .course img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.chefs-choice .course-container .course .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.507);
  border-radius: 5px;
}

.chefs-choice .course-container .course h2 {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature-container {
  background-color: rgba(211, 211, 211, 0.411);
  padding: 1.5em 0;
}

@media screen and (min-width: 1000px) {
  .feature-container .feature-adjust {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.feature-container h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #2c2c2c;
}

@media screen and (min-width: 600px) {
  .feature-container h2 {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1000px) {
  .feature-container h2 {
    padding-right: 2em;
    border-right: 2px solid #2c2c2c;
  }
}

.feature-container .feature-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1.5em;
}

@media screen and (min-width: 1000px) {
  .feature-container .feature-wrapper {
    flex-wrap: nowrap;
    width: 70%;
    margin: 0;
  }
}

.feature-container .feature-wrapper img {
  width: 35%;
  margin-bottom: 1.3em;
  max-width: 155px;
  transition: transform 200ms ease-in-out;
}

@media screen and (min-width: 800px) {
  .feature-container .feature-wrapper img {
    max-width: 150px;
  }
}

@media screen and (min-width: 1000px) {
  .feature-container .feature-wrapper img {
    width: 15%;
    margin: 0;
    max-width: 130px;
  }
}

.feature-container .feature-wrapper img:hover {
  transform: scale(1.2);
}

.recent-posts {
  width: 100%;
  margin: 2em 0 6em 0;
}

@media screen and (min-width: 800px) {
  .recent-posts {
    margin-bottom: 0;
  }
}

.recent-posts .recent-posts-heading {
  font-weight: 800;
  font-size: 1.8rem;
  color: #daa44e;
  position: relative;
  margin-bottom: 0.6em;
}

@media screen and (min-width: 700px) {
  .recent-posts .recent-posts-heading {
    font-size: 2.1rem;
  }
}

.recent-posts .recent-posts-heading::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 215px;
  width: 8px;
  height: 8px;
  background-color: #2c2c2c;
  border-radius: 10px;
}

@media screen and (min-width: 700px) {
  .recent-posts .recent-posts-heading::after {
    left: 250px;
  }
}

@media screen and (min-width: 800px) {
  .recent-posts .recent-posts-contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.recent-posts .recent-individual-posts {
  margin-bottom: 1.5em;
}

@media screen and (min-width: 800px) {
  .recent-posts .recent-individual-posts {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .recent-posts .recent-individual-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
  }
}

.recent-posts .recent-individual-posts #rp img {
  width: 100%;
  margin-bottom: 0.8em;
  border-radius: 3px;
}

.recent-posts .recent-individual-posts #rp h1 {
  margin-bottom: 0.1em;
  color: #2c2c2c;
  font-size: 1.6rem;
}

.recent-posts .recent-individual-posts #rp h5 {
  font-weight: 300;
  color: gray;
  font-size: 0.9rem;
}

.recent-posts .recent-individual-posts #rp p {
  margin: 1em 0 1.6em 0;
  line-height: 1.8em;
  color: gray;
  font-weight: 500;
}

.recent-posts .recent-individual-posts #rp button {
  border: 2px solid #daa44e;
  border-radius: 3px;
  outline: none;
  padding: 0.9em 2.8em;
  font-size: 1rem;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  background-color: white;
  color: #daa44e;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.recent-posts .recent-individual-posts #rp button:hover {
  color: white;
  background-color: #daa44e;
}

@media screen and (min-width: 1000px) {
  .recent-posts .recent-individual-posts #rp {
    width: 47%;
    margin-bottom: 4em;
  }
}

.recent-posts .recent-individual-posts #rp:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 800px) {
  .recent-posts .recent-individual-posts #rp:not(:last-of-type) {
    border: none;
  }
}

.recent-posts .recent-individual-posts #rp:not(:first-of-type) {
  padding: 1.3em 0;
}

@media screen and (min-width: 1000px) {
  .recent-posts .recent-individual-posts #rp:not(:first-of-type) {
    padding: 0;
  }
}

.recent-posts .recent-individual-posts #rp:first-of-type {
  padding-bottom: 1.3em;
}

@media screen and (min-width: 1000px) {
  .recent-posts .recent-individual-posts #rp:first-of-type {
    padding: 0;
  }
}

.e-book img {
  width: 60%;
  border-radius: 100%;
  max-width: 170px;
  margin-bottom: 1.5em;
}

.e-book button {
  padding: 0.9em 2em;
}

@media screen and (min-width: 800px) {
  .e-book {
    width: 35%;
  }
}

@media screen and (min-width: 1000px) {
  .e-book {
    width: 23%;
  }
}

.featured-posts {
  width: 100%;
  padding: 2em 0;
}

@media screen and (min-width: 800px) {
  .featured-posts {
    padding: 2.5em 0 3em 0;
    margin: 0;
  }
}

.featured-posts-heading {
  font-weight: 800;
  font-size: 1.8rem;
  color: #daa44e;
  position: relative;
  margin-bottom: 0.8em;
}

@media screen and (min-width: 700px) {
  .featured-posts-heading {
    font-size: 2.1rem;
  }
}

.featured-posts-heading::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 280px;
  width: 8px;
  height: 8px;
  background-color: #d3d1d1;
  border-radius: 10px;
}

@media screen and (min-width: 700px) {
  .featured-posts-heading::after {
    left: 330px;
  }
}

@media screen and (min-width: 800px) {
  .featured-posts-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.featured-posts #fp {
  margin-bottom: 3em;
}

.featured-posts #fp img {
  width: 100%;
  margin-bottom: 0.8em;
  border-radius: 4px;
}

.featured-posts #fp h1 {
  margin-bottom: 0.1em;
  color: #2c2c2c;
  font-size: 1.6rem;
}

.featured-posts #fp h5 {
  font-weight: 300;
  color: gray;
  font-size: 0.9rem;
}

.featured-posts #fp p {
  margin: 1em 0 1.1em 0;
  line-height: 1.8em;
  color: gray;
  font-weight: 500;
}

.featured-posts #fp button {
  border: 2px solid #daa44e;
  border-radius: 3px;
  outline: none;
  padding: 0.9em 2.8em;
  font-size: 1rem;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  color: white;
  background-color: #daa44e;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.featured-posts #fp button:hover {
  background-color: transparent;
  color: #daa44e;
}

@media screen and (min-width: 800px) {
  .featured-posts #fp {
    margin-bottom: 4em;
    width: 45%;
  }
}

@media screen and (min-width: 1000px) {
  .featured-posts #fp {
    width: 30%;
  }
}

@media screen and (min-width: 1100px) {
  .featured-posts #fp {
    margin-bottom: 0;
    width: 22%;
  }
}

.featured-posts #fp h1 {
  color: #daa44e;
}

.featured-posts #fp h5 {
  color: #bdabab;
}

.featured-posts #fp p {
  color: whitesmoke;
}

.featured-posts #fp button {
  background-color: transparent;
  color: #daa44e;
}

.featured-posts #fp button:hover {
  background-color: #daa44e;
  color: white;
}

.featured-posts #fp:not(:first-of-type) {
  padding: 1.3em 0;
}

@media screen and (min-width: 700px) {
  .featured-posts #fp:not(:first-of-type) {
    padding: 0;
  }
}

.featured-posts #fp:first-of-type {
  padding-bottom: 1.3em;
}

@media screen and (min-width: 700px) {
  .featured-posts #fp:first-of-type {
    padding: 0;
  }
}

.fp {
  background-image: linear-gradient(0deg, rgba(0, 19, 40, 0.7), rgba(0, 19, 40, 0.7)), url(../../../img/feature-background.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.cookbook {
  background-color: rgba(211, 211, 211, 0.411);
}

.cookbook .cookbook-container {
  display: flex;
  flex-direction: column;
  padding: 1.8em 0;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .cookbook .cookbook-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

.cookbook .cookbook-container img {
  width: 80%;
  max-width: 400px;
}

@media screen and (min-width: 800px) {
  .cookbook .cookbook-container img {
    width: 45%;
  }
}

.cookbook .cookbook-container .cookbook-text {
  text-align: center;
  margin-bottom: 2em;
}

@media screen and (min-width: 800px) {
  .cookbook .cookbook-container .cookbook-text {
    width: 50%;
  }
}

.cookbook .cookbook-container .cookbook-text h3 {
  color: #2c2c2c;
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 1em;
}

.cookbook .cookbook-container .cookbook-text h1 {
  color: #daa44e;
  font-size: 2.5rem;
  margin-bottom: 0.3em;
}

.cookbook .cookbook-container .cookbook-text p {
  color: #2c2c2c;
  font-size: 1rem;
  line-height: 1.6em;
  margin-bottom: 2em;
  max-width: 540px;
}

@media screen and (min-width: 800px) {
  .cookbook .cookbook-container .cookbook-text p {
    max-width: 1000px;
  }
}

.cookbook .cookbook-container .cookbook-text button {
  border: 2px solid #daa44e;
  border-radius: 3px;
  outline: none;
  padding: 0.7em 1.5em;
  font-size: 1rem;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  background-color: #daa44e;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.cookbook .cookbook-container .cookbook-text button:hover {
  color: #daa44e;
  background-color: transparent;
}
/*# sourceMappingURL=home.css.map */