*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Be Vietnam", sans-serif;
}

.content {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 85px;
  width: 100%;
  margin: 0 auto;
}

.nav .logo img {
  height: 35px;
}

.nav .burger {
  height: auto;
  width: 1.8em;
  cursor: pointer;
}

.nav .burger div {
  width: 100%;
  height: 0.25em;
  background-color: #daa44e;
  border-radius: 10px;
}

.nav .burger div:not(:last-child) {
  margin-bottom: 4px;
}

.newsletter {
  height: 400px;
  background-color: #daa44e;
}

@media screen and (min-width: 700px) {
  .newsletter {
    height: 375px;
  }
}

.newsletter .newsletter-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter .newsletter-container .newsletter-content {
  max-width: 500px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter .newsletter-container .newsletter-content h1 {
  font-size: 2rem;
  text-align: center;
  color: black;
  line-height: 1.4em;
  margin-bottom: 0.6em;
}

@media screen and (min-width: 700px) {
  .newsletter .newsletter-container .newsletter-content h1 {
    font-size: 2.2rem;
  }
}

.newsletter .newsletter-container .newsletter-content p {
  text-align: center;
  color: whitesmoke;
  line-height: 1.8em;
  margin-bottom: 1.4em;
}

@media screen and (min-width: 700px) {
  .newsletter .newsletter-container .newsletter-content p {
    font-size: 1.1rem;
  }
}

.newsletter .newsletter-container .newsletter-content form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsletter .newsletter-container .newsletter-content input[type="text"] {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 70%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #f1f1f1;
  border-radius: 5px 0 0 5px;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0 0.6em;
  color: rgba(0, 0, 0, 0.7);
  display: inline;
}

.newsletter .newsletter-container .newsletter-content input[type="submit"] {
  border: 2px solid black;
  outline: none;
  padding: 1em 1.5em;
  font-size: 1rem;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  background-color: black;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.newsletter .newsletter-container .newsletter-content input[type="submit"]:hover {
  opacity: 0.5;
}

.hidden {
  display: none;
}

.jumbotron-cover {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(0, 19, 40, 0.7), rgba(0, 19, 40, 0.7)), url(../../../img/jumbotron.jpg);
  position: relative;
}

.jumbotron-cover .text {
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Be Vietnam", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron-cover .text h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8em;
  letter-spacing: 0.125em;
}

.jumbotron-cover .text p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 1.5em;
}

.jumbotron-cover .text .btn button {
  border: 2px solid #daa44e;
  border-radius: 3px;
  outline: none;
  padding: 0.8em 2.5em;
  font-size: 1.3rem;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  color: #daa44e;
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.jumbotron-cover .text .btn button:hover {
  background-color: #daa44e;
  color: white;
}

.tip_heading {
  margin-top: 0.5em;
  font-family: "Great Vibes", cursive;
  color: #daa44e;
  font-size: 3.3rem;
}

.tip_text .tip_container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 3em 0;
}

.tip_text .tip_container img {
  width: 60px;
  margin-bottom: 0.8em;
}

.tip_text .tip_container p {
  font-family: "Poppins", sans-serif;
  line-height: 1.4em;
}

.tip_container_heading {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.tip_container_heading h2 {
  margin-left: 0.2em;
}
/*# sourceMappingURL=home.css.map */