@import '../1-base/globals';
@import '../2-components/navbar';
@import '../2-components/navigator';
@import '../2-components/e-book';
@import '../2-components/newsletter';
@import '../2-components/footer';
@import '../2-components/hidden';
.recent-posts{
    width: 100%;
    margin: 2em 0 6em 0;
    @include min-width(800px){
        margin-bottom: 0;
    }

    .recent-posts-heading{
        font-weight: 800;
        font-size: 1.8rem;
        color: $golden;
        position: relative;
        margin-bottom: 0.6em;
        
        @include min-width(700px){
            font-size: 2.1rem;
        }
    }
    
    .recent-posts-heading::after{
        content:"";
        position: absolute;
        bottom: 7px;
        left: 184px;
        width: 8px;
        height: 8px;
        background-color: $black;
        border-radius: 10px;
        @include min-width(700px){
            left: 215px;
        }
    }

    .recent-posts-contents{
        @include min-width(800px){
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .recent-individual-posts{
        margin-bottom: 1.5em;
        @include min-width(800px){
            width: 60%;
        }

        @include min-width(1000px){
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width:75%;
        }

        #rp{
            @include recent-posts;
            @include min-width(1000px){
                width:47%;
                margin-bottom: 4em;
            }
        }
    
        #rp:not(:last-of-type){
            border-bottom:1px solid rgba(0,0,0,0.2);
            @include min-width(800px){
                border:none;
            }
        }
    
        #rp:not(:first-of-type){
            padding: 1.3em 0;
            @include min-width(1000px){
                padding: 0;
            }
        }

        #rp:first-of-type{
            padding-bottom: 1.3em;
            @include min-width(1000px){
                padding: 0;
            }
        }
    }
}

.featured-posts{
    width: 100%;
    padding: 2em 0;

    @include min-width(800px){
        padding: 2.5em 0 3em 0;
        margin: 0;
    }

    &-heading{
        font-weight: 800;
        font-size: 1.8rem;
        color: $golden;
        position: relative;
        margin-bottom: 0.8em;
        @include min-width(700px){
            font-size: 2.1rem;
        }
    }
    
    &-heading::after{
        content:"";
        position: absolute;
        bottom: 7px;
        left: 210px;
        width: 8px;
        height: 8px;
        background-color: $black;
        border-radius: 10px;
        @include min-width(700px){
            left: 245px;
        }
    }

    &-content{
        @include min-width(800px){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    #fp{
        @include featured-posts;
        margin-bottom: 3em;
        @include min-width(800px){
            margin-bottom: 4em;
            width: 45%;
        }
        @include min-width(1000px){
            width: 30%;
        }
        @include min-width(1100px){
            margin-bottom: 0;
            width: 22%;
        }
    }

    #fp:not(:first-of-type){
        padding: 1.3em 0;
        @include min-width(700px){
            padding: 0;
        }
    }

    #fp:first-of-type{
        padding-bottom: 1.3em;
        @include min-width(700px){
            padding: 0;
        }
    }
}

.e-book{
    @include min-width(800px){
        width: 35%;
    }

    @include min-width(1000px){
        width: 23%;
    }
}

.fp{
    background:$grey;
}