@import '../1-base/globals';
@import '../2-components/footer';
@import '../2-components/navbar';
@import '../2-components/hidden';

.jumbotron{
    background-image: url(../../../img/jumbotron.jpg);
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // min-width: 1920px;
    // height: 1080px;
    z-index: -1;
}