// Primary Color
$golden:#c19855;

// Secondary Color
$grey:rgba(0, 0, 0, 0.02);

// Text Color
$black:rgb(44, 44, 44);

$grey2:rgba(0, 0, 0, 0.03);

//font-family
$beVietnam :'Be Vietnam', sans-serif;