// Primary Color
$golden:#daa44e;

// Secondary Color
$grey:rgba(0, 0, 0, 0.02);

// Text Color
$black:rgb(44, 44, 44);

$grey2:rgba(0, 0, 0, 0.03);

//font-family
$beVietnam :'Be Vietnam', sans-serif;
$poppins: 'Poppins', sans-serif;
$greatVibes: 'Great Vibes', cursive;